body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(rgb(144, 144, 144), rgb(150, 150, 150));
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: rgb(202, 87, 87);
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  font-size: 40px;
}

h2 {
  color: rgb(202, 87, 87);
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  font-size: 20px;
}

p {
  text-align: center;
}

.previous {
  color: #000000;
  font-weight: 600;
}

.current {
  color: rgb(35, 190, 35);
  font-weight: 600;
}

.history-page {
  text-align: center;
}

button {
  background-color: rgb(202, 87, 87);
  /* Set the background color */
  color: #ffffff;
  /* Set the text color */
  padding: 10px 10px;
  /* Add padding to the button */
  border: none;
  /* Remove the border */
  border-radius: 5px;
  /* Add border-radius for rounded corners */
  cursor: pointer;
  /* Change the cursor on hover */
  font-size: 16px;
  /* Set the font size */
  margin-top: 10px;
  /* Add margin for spacing */
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  background-color: #2980b9;
  /* Change the background color on hover */
}

.admin-page {
  text-align: center;
}

.report-container {
  background-color: #807d7d;
  padding: 10px;
  border: 1px solid #555555;
  margin-top: 10px;
  box-shadow: inset;
}

.registration-page {
  text-align: center;
}

.search-ticket {
  text-align: center;
}

.profile-page {
  text-align: center;
}

.homepage-class {
  text-align: center;
}

.browse-tickets-class {
  text-align: center;
}

.login-page {
  text-align: center;
}

.nav {
  background-color: #4a4a4a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Center items vertically */
}

ul {
  list-style-type: none;
  /* Remove bullet points from the list */
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
  /* Add some space between navigation items */
}

li a {
  text-decoration: none;
  color: white;
  /* Text color for navigation items */
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}

li a:hover {
  text-decoration: underline;
  /* Underline the item on hover */
}

li.order-link {
  justify-self: end;
}